
:root {
    --main: #f0f0f0;
    --secondary: #424242;
    --tertiary: #d6d6d6;
    --accent: #d45137;
}

html {
    scroll-behavior: smooth;
  }

body {
    margin: 0;
    background-color: var(--main);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    padding: 478px;
    display: flex;
    flex-wrap: wrap;
    background-image: url(/assets/images/hero.jpg);
    background-size: cover;
    background-position: center;
    justify-content: center;
}

header h1 {
    margin-top: -50px; 
}

header a {
    background: rgba(71, 71, 71, .75);
    padding: 0 50px;
    font-size: 100px;
    color: var(--main);
    text-decoration: none;
    border-radius: 15px;
}

.name {
    opacity: 1;
}

.navigation ul {
    margin-top: -450px;
    margin-left: -350px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    font-size: x-large;
}

.navigation ul li a {
    color: var(--main);
    padding: 0 15px;
    text-decoration: none;
}

.bio {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 300px 0 100px;
    padding: 200px 0 0;
    border-radius: 15px;
}

.bio-text p {
    font-size: x-large;
    line-height: 1;
}

.bio-text p:nth-child(odd) {
    background-color: var(--secondary);
    color: var(--main);
}

.bio-text h2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.bio-quote {
    justify-content: center;
    
}

.bio-quote p {
    margin-top: 100px;
    font-size: xx-large;
}

.bio-quote h1 {
    justify-content: center;
}

.applications {

    display: flex;
    flex-wrap: wrap;
    margin: 0 0 50px 0;
    justify-content: center;

}

.applications-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.applications img {
    padding: 25px;
    height: 350px;
    width: 500px;
    border-radius: 50px;
}

.applications img:hover {
    opacity: 50%;
}

footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}

footer h1 {
    font-size: 75px;
}

footer a {
    font-size: 25px;
    color: var(--secondary);
}