
:root {
    --main: #f0f0f0;
    --secondary: #9c8b7b;
    --tertiary: #d6d6d6;
    --accent: #d45137;
}

html {
    scroll-behavior: smooth;
  }

body {
    background-color: var(--main);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header {
    padding: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

}

header h1 {
    font-size: xx-large;
}

header a {
    color: var(--accent);
    text-decoration: none;
    border-bottom: solid 1px var(--secondary);

}

header a:hover {
    color: var(--secondary);
}

.navigation ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 50px 250px 25px;
    list-style: none;
    font-size: large;
}

.navigation ul li a {
    color: var(--accent);
    text-decoration: none;
}

.hero {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 50px;
    padding: 100px;
    justify-content: center;
}

.hero-photo {
    display: flex;
    justify-content: center;
    width: 100%;
}

.hero-photo img {
    justify-content: center;
    border-radius: 100px;
    width: 25%;
}

.hello {
    display: flex;
    flex-wrap: wrap;
    color: var(--secondary);
    justify-content: center;
    padding-top: 50px;
}

.hello h2 {
    width: 100%;
    padding-bottom: 50px;
}

.hello a {
    color: var(--accent);
    text-decoration: none;
}

.bio {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 50px;
    padding: 100px;
    background-color: var(--tertiary);
    justify-content: center;
}

.bio-text h2 {
    justify-content: center;
}

.bio-text p {
    color: coral;
}

.applications {
    display: flex;
    flex-wrap: wrap;
    margin: 50px 50px;
    padding: 100px;
    justify-content: space-around
}